* {
    box-sizing: border-box;
}

/* #A05; */

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    height: 100%;
    
}

.container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

h1 {
    text-align: center;
}

.title {
    color: #A05;
}

.addTaskSection {
    background: white;
    padding: 10px;
    text-align: center;
}

#listInput {
  width: 200px;
  height: 30px;
  outline: 0;
  border: none;
  background: #fff;
  color: #2f4f4f;
  text-align: center;
}

.addButton {
  color: black;
  background-color:white;
  outline: 0;
  border: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.shoppingBoard {
    background-color: white;
    margin-top: 30px;
    padding-right: 40px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(227,232,230,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(227,232,230,1);
    box-shadow: 10px 10px 5px 0px rgba(227,232,230,1);
}

p {
    font-weight: bold;
    border-bottom: 3px solid #A05;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }


li {
    border-bottom: 1px solid rgba(227,232,230,1);
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
  }
  
.remove {
    color: #A05;
    outline: 0;
    border: none;
    cursor: pointer;
    margin-left: auto;
    background-color: white;
  }

  ul li.bought {
    font-weight: bold;
    color: green;;
  }
  
  