* {
    box-sizing: border-box;
}

/* #A05; */

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    height: 100%;
}

.container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

h1 {
    text-align: center;
}

.title{
    color: #A05;
}

.addTaskSection{
    background-color: #A05;
    padding: 10px;
    text-align: center;
}

#listInput{
  width: 200px;
  height: 30px;
  outline: 0;
  border: none;
  background: #fff;
  color: #2f4f4f;
  text-align: center;
}

.addButton{
  color: black;
  background-color: #fff;
  outline: 0;
  border: none;
  width: 60px;
  height: 30px;
}

.shoppingBoard{
    background-color: antiquewhite;
    margin-top: 30px;
    padding-right: 40px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }


li {
    border-bottom: 3px solid white;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
   display: flex;
  }
  
.remove{
    color: #A05;
    outline: 0;
    border: none;
    cursor: pointer;
    margin-left: 680px;
    background-color: antiquewhite;
  }





